<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="mobile_manipulator" >


<!-- base-->
<xacro:include filename="$(find robot_body)/urdf/mobile_base/mobile_base.urdf" />

<xacro:include filename="$(find robot_body)/urdf/ur5e/ur5e_macro.xacro" /> 
<xacro:ur5e_robot prefix="ur5e_"/>  

<gazebo>
  <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
    <parameters>$(find robot_body)/config/robot_controllers.yaml</parameters>
  </plugin>
</gazebo> 

<!-- Attacher link between arm and base-->
<link name="box_link">
    <visual>
	<origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.3 0.3 0.2"/>
      </geometry>
	<material name="newblue">
    <color rgba="0.0 0.5 0.0 1"/>
  </material>
    </visual>
    <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
     <geometry>
       <box size="0.3 0.3 0.2"/>
     </geometry>
    </collision>
</link>

<gazebo reference="box_link">
    <material>Gazebo/Purple</material>
  </gazebo>
  
<joint name="box_joint" type="fixed">
    <parent link="base_link"/>
    <child link="box_link"/>
    <origin xyz="0 0 0.15" rpy="0 0 0"/>
</joint>

<joint name="box_ur5e" type="fixed">
  <parent link="box_link"/>
  <child link="ur5e_base_link"/>
  <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
</joint>   
  
<!-- Include robotiq_2f_85 gripper -->
 <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro" />
<xacro:robotiq_gripper name="RobotiqGripperHardwareInterface" prefix="" parent="ur5e_tool0" use_fake_hardware="true" include_ros2_control="false">
        <origin xyz="0 0 0" rpy="0 0 0" />
</xacro:robotiq_gripper> 
<gazebo reference="robotiq_85_base_link">
  <gravity>0</gravity>
</gazebo>
<gazebo reference="robotiq_85_left_knuckle_link">
  <gravity>0</gravity>
</gazebo>
<gazebo reference="robotiq_85_right_knuckle_link">
  <gravity>0</gravity>
</gazebo>
<gazebo reference="robotiq_85_left_finger_link">
  <gravity>0</gravity>
</gazebo>
<gazebo reference="robotiq_85_right_finger_link">
  <gravity>0</gravity>
</gazebo>
<gazebo reference="robotiq_85_left_inner_knuckle_link">
  <gravity>0</gravity>
</gazebo>
<gazebo reference="robotiq_85_right_inner_knuckle_link">
  <gravity>0</gravity>
</gazebo>
<gazebo reference="robotiq_85_left_finger_tip_link">
  <gravity>0</gravity>
</gazebo>
<gazebo reference="robotiq_85_right_finger_tip_link">
  <gravity>0</gravity>
</gazebo>
<ros2_control name="GripperControl" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>
    <joint name="robotiq_85_left_knuckle_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.7929</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="robotiq_85_right_knuckle_joint">
      <param name="mimic">robotiq_85_left_knuckle_joint</param>
      <param name="multiplier">-1</param>
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="robotiq_85_left_inner_knuckle_joint">
      <param name="mimic">robotiq_85_left_knuckle_joint</param>
      <param name="multiplier">1</param>
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="robotiq_85_right_inner_knuckle_joint">
      <param name="mimic">robotiq_85_left_knuckle_joint</param>
      <param name="multiplier">-1</param>
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="robotiq_85_left_finger_tip_joint">
      <param name="mimic">robotiq_85_left_knuckle_joint</param>
      <param name="multiplier">-1</param>
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="robotiq_85_right_finger_tip_joint">
      <param name="mimic">robotiq_85_left_knuckle_joint</param>
      <param name="multiplier">1</param>
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint> 
</ros2_control> 
<link name="ur5e_EEcenter_link">
    <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="0.00001" />
        <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial> 
    <visual>
        <geometry>
        <box size= "0.001 0.001 0.001" />
        </geometry>
    </visual>
</link>
<gazebo reference="ur5e_EEcenter_link">
  <gravity>0</gravity>
</gazebo>
<joint name="ur5e_EEcenter_joint" type="prismatic" >
    <parent link="robotiq_85_base_link" />
    <child link="ur5e_EEcenter_link" />
    <limit effort="10000" lower="0.0" upper="0.0" velocity="0.0"/>
    <axis xyz="1 0 0" />
    <origin xyz="0.0 0.0 0.1603" rpy="0 0 0"/> 
</joint>

</robot>